main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


label {
    padding-left: 1%;
    font-family: Helvetica, sans-serif;
}

button[type="submit"] {
    font-family: Helvetica, sans-serif;
    display: block;
    background: #E9E9E9;
    border: 1px solid #E9E9E9;
    height: 200%;
    line-height: 3em;
    text-align: center;
    transition:none;
    width: 100%;
    margin: 1em 0em;
}

input[type="text"], input[type="email"], textarea {
    padding: 0 0 0 2%;
    font-family: Helvetica, sans-serif;
    width: 98%;
    border: none;
    height: 2em;
    font-size: 1em;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 3%;
    margin-top: 2%;
    transition: ease-in-out .35s;
}

input:focus{
    outline: none;
    border-bottom: 1px solid #303131;
}

input:hover{
    border: none;
    border-bottom: 1px solid #303131;
}

button[type="submit"]:hover{
    border: 1px solid #E9E9E9;
}

button[type="submit"]:focus{
    outline: none;
}
