.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5em;
    border-bottom: 1px solid #f8f8f8;
}

.grid-container:last-child {
    border-bottom: none;
}

.grid-item {
    background-color: none;
    padding: 1em;
}

.grid-item.description {
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-container .grid-item.picture {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 0;
}

/*Alter between positions
Image/Text on the Left/Right*/
article:nth-of-type(even) div.grid-item.description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

article:nth-of-type(even) img.grid-item.picture {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
    margin-left: auto;
}

/*
.skill-link {
    width: 100%;
    margin: auto;
    display: block;
}*/

.project-img {
    display: block;
    height: 15em;
}

.mini-icon {
    width: 2em;
    height: auto;
    margin: 0 0.5em;
}

.project-name {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    margin-block-start: 0;
}

.icon-link {
    filter: grayscale(100%) brightness(0%) contrast(100%);
}

.icon-link:hover {
    filter: grayscale(100%) brightness(0%) invert(75%);
}

.tags {
    margin-top: 3em;
}

.tag {
    background-color: #f8f8f8;
    text-decoration: none;
    color: #303131;
    padding:0.5em;
    border-radius: 1em;
    transition: 0.25s;
    line-height: 3em;
    margin: 0.25em;
}

.tag:hover {
    background-color: #b6b6b6;
    color: #f8f8f8;
    transition: 0.25s;
}

@media (max-width:1024px) {
    .grid-container {
        grid-template-columns: 1fr;
        padding: 2.5em;
    }

    .grid-item.description, article:nth-of-type(even) div.grid-item.description {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }

    .grid-container .grid-item.picture {
        margin-left: auto;
        margin-right: auto;
    }

    article:nth-of-type(even) img.grid-item.picture {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width:640px) {
    .grid-container {
        grid-template-columns: 1fr;
        padding: .5em;
    }

    .project-img {
        display: block;
        height: 8em;
    }
}